html {
  text-align: center;
  background-image: url("../public/bg-3.jpg");
  background: url("../public/bg-3.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
